services:
  redis-monedas:
    container_name: redis-monedas
    hostname: redis
    image: redis:7
    ports:
      - "6379:6379"

  redisinsight:
    container_name: redis-insight-monedas
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - redisinsight-data:/data
    depends_on:
      - redis-monedas

  app:
    build: .
    volumes:
      - .:/usr/src/app
    container_name: redis-node-monedas
    ports:
      - "4026:8080"
    command: node datosInicialesNode/cargaDatosInicial.js

volumes:
  redisinsight-data: